/* Colors */
:root {

    --accent-bg-color: #F5F4FA;
    --nav-bg-color: #ffffff;
    --main-txt-color: #212121;
    --main-accent-color: #2196F3;
    --hero-txt-color: #ffffff;
    --hero-bg-color: #2f303a;
    --sec-accent-color: #757575;
    --button-hover-color: #188CE8;
    /* Footer colors */
    --footer-bg-color: #2F303A;
    --footer-txt-color: #ffffff;
    --footer-accent-color: rgba(255, 255, 255, 0.6);

}

body {

    /* Font */
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;


    /* Colors */
    color: var(--main-txt-color);

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;


}


img {
    display: block;

}


.section {
    padding-top: 94px;
    padding-bottom: 94px;



}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;


}

/* ============== Header and navigation ============== */
.container-header {
    display: flex;
}

.header-decor {
    background-color: var(--footer-txt-color);
    border-bottom: 1px solid #ECECEC;
}

/* Logo */
.logo {
    display: flex;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--main-txt-color);
}

.logo-decor {
    color: var(--main-accent-color);
    color: var(--main-accent-color);
}

/* /logo */
/* Navigation */
.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-item {
    margin-right: 50px;
}

.nav-mail-tel {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;

}

.nav-mailto {
    margin-right: 50px;
}

.nav-decor {
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--sec-accent-color);
}

.nav-decor:hover,
.nav-decor:focus {
    color: var(--main-accent-color);
}

/* /Navigation */

.current {
    color: var(--main-accent-color);
}

/* ============== /Header and navigation ============== */


/* ============== Hero ============== */
.hero {
    display: flex;
    background-color: var(--hero-bg-color);

    padding-top: 200px;
    padding-bottom: 200px;
}




.hero-txt {
    max-width: 696px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    color: var(--hero-txt-color);
}

.hero-button {
    display: flex;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--main-accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--hero-txt-color);

}





.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-hover-color);
}

/* ============== /Hero ============== */

/* ============== Features ============== */

.features-list {
    display: flex;
    list-style: none;
}

.features-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--sec-accent-color);
}

.features-head {

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: var(--main-txt-color);
}

.features-list-item {
    width: 270px;
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

/* ============== /Features ============== */


/* ============== About our work ============== */

.about-work {
    padding-top: 0;
}

.about-work-head {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-txt-color);
    margin-bottom: 50px;



}

.about-work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    list-style: none;

}



.about-work-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;



}



/* ============== /About our work ============== */

/* ============== Our Team ============== */
.our-team {
    background-color: var(--accent-bg-color);
}

.our-team-list {
    display: flex;
    list-style: none;
    margin-left: -30px;


}

.our-team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;




}

.our-team-item {
    flex-basis: calc((100%-120)/4);
    margin-left: 30px;
    background-color: var(--hero-txt-color);





}

.our-team-name {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;

    color: var(--main-txt-color);
}

.our-team-desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;


    color: var(--sec-accent-color);
}

.team-description {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--hero-txt-color);


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



/* ============== /Our Team ============== */

/* ============== Footer ============== */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);

}



.logo-footer-link {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--footer-txt-color);
}

.addres {
    margin-top: 20px;
}

.footer-addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    padding-bottom: 9px;

    color: var(--footer-txt-color);
}

.footer-address-list {
    list-style: none;
}





.footer-item-list {
    padding-bottom: 9px;
}

.footer-contact-decor {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: var(--footer-accent-color);
}

.footer-contact-decor:hover,
.footer-contact-decor:focus {
    color: var(--main-accent-color);
}








/* ============== Portfolio ============== */
.portfolio-head {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style: none;

}

.filter-item-btn {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;


    background-color: var(--accent-bg-color);
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}


.filter-item-btn:hover,
.filter-item-btn:focus {
    color: var(--hero-txt-color);
    background-color: var(--main-accent-color);
}

/* ============== /Portfolio ============== */

/* ============== Cards ============== */
.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;

}

.card-list-item {
    margin-left: 30px;
    margin-top: 30px;

    flex-basis: calc((100%-270)/9);

}



.card-list-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;



    color: var(--main-txt-color);
}

.card-list-desc {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;

    color: var(--sec-accent-color);
}

.card-list-link {
    text-decoration: none;

}

.card-description {
    padding: 20px 24px;

    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}


/* ============== /Cards ============== */