/* Colors */
:root {

    --accent-bg-color: #F5F4FA;
    --nav-bg-color: #ffffff;
    --main-txt-color: #212121;
    --main-accent-color: #2196F3;
    --hero-txt-color: #ffffff;
    --hero-bg-color: #2f303a;
    --sec-accent-color: #757575;
    --button-hover-color: #188CE8;
    /* Footer colors */
    --footer-bg-color: #2F303A;
    --footer-txt-color: #ffffff;
    --footer-accent-color: rgba(255, 255, 255, 0.6);

}

body {

    /* Font */
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;


    /* Colors */
    color: var(--main-txt-color);

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;


}


img {
    display: block;

}


.section {
    padding-top: 94px;
    padding-bottom: 94px;



}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;


}

/* ============== Header and navigation ============== */
.container-header {
    display: flex;

}

.header-decor {
    background-color: var(--footer-txt-color);
    border-bottom: 1px solid #ECECEC;

}

/* Logo */
.logo {
    display: flex;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--main-txt-color);
}

.logo-decor {
    color: var(--main-accent-color);
    color: var(--main-accent-color);
}

/* /logo */

/* Navigation */
.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-item {
    position: relative;
    margin-right: 50px;
}

.nav-mail-tel {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;


}

.nav-mailto {
    margin-right: 30px;

}

.nav-icon-decor {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.nav-decor {

    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-decor-link {
    color: var(--sec-accent-color);
}

.nav-decor:hover,
.nav-decor:focus {

    color: var(--main-accent-color);
}

.nav-decor:hover .nav-icon-decor,
.nav-decor:focus .nav-icon-decor {

    fill: var(--main-accent-color);
}



/* /Navigation */

.current {
    color: var(--main-accent-color);
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main-accent-color);
    border-radius: 2px;
}




/* ============== /Header and navigation ============== */


/* ============== Hero ============== */
.hero {
    display: flex;
    background-color: var(--hero-bg-color);
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-main/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-txt {
    max-width: 696px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    color: var(--hero-txt-color);
}

.hero-button {
    display: flex;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--main-accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--hero-txt-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-hover-color);
}

/* ============== /Hero ============== */

/* ============== Features ============== */

.features-icon-list {
    display: flex;
    list-style: none;
    margin-bottom: 30px;

}



.features-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-size: cover;
    background-position: center;

}



.features-icon-item:not(:last-child) {
    margin-right: 30px;
}

.features-list {
    display: flex;
    list-style: none;

}

.features-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--sec-accent-color);
}

.features-head {

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: var(--main-txt-color);
}

.features-list-item {

    width: 270px;
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

/* ============== /Features ============== */


/* ============== About our work ============== */

.about-work {
    padding-top: 0;
}

.about-work-head {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-txt-color);
    margin-bottom: 50px;



}

.about-work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    list-style: none;

}



.about-work-item {
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;

}

.about-work-desc {
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;


    text-transform: uppercase;

    color: var(--hero-txt-color);
    background-color: rgba(47, 48, 58, 0.8);

}



/* ============== /About our work ============== */

/* ============== Our Team ============== */
.our-team {
    background-color: var(--accent-bg-color);
}

.our-team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

}

.our-team-list {
    display: flex;
    list-style: none;
    margin-left: -30px;
}

.our-team-item {
    flex-basis: calc((100%-120)/4);
    margin-left: 30px;
    background-color: var(--hero-txt-color);
}

.our-team-name {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;

    color: var(--main-txt-color);
}

.our-team-desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;


    color: var(--sec-accent-color);
}

.team-description {

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--hero-txt-color);


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.social-link-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    list-style: none;

}




.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:not(:last-child) {
    margin-right: 10px;
}

.team-social-icon {

    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: var(--main-accent-color);
}

.social-link:hover .team-social-icon,
.social-link:focus .team-social-icon {
    fill: #ffffff;
}




/* ============== /Our Team ============== */


/* ============== Clients ============== */

.clients-list {
    display: flex;
    list-style: none;
    justify-content: center;




}

.clients-head {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    margin-bottom: 50px;
    color: var(--main-txt-color);
}


.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.clients-logo {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--main-accent-color);

}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
    fill: var(--main-accent-color);
}








/* ============== /Clients ============== */



/* ============== Footer ============== */
.footer {

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);

}

.container-footer {
    display: flex;
    align-items: baseline;
}

.logo-footer-link {
    display: flex;
    font-style: normal;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--footer-txt-color);
}

.addres {

    margin-top: 20px;
}



.footer-address-list {

    list-style: none;
}

.footer-addres {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;



    color: var(--footer-txt-color);
}


.footer-item-list {
    margin-bottom: 9px;
}




.footer-contact-decor {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    color: var(--footer-accent-color);

}



/* footer social links */

.follow {
    display: inline-block;
    align-items: baseline;
    margin-left: 72px;

}

.footer-social-links-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.social-link-list-footer {
    display: inline-flex;
    margin-top: 20px;
    list-style: none;

}



.social-link-item-footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;



}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item-footer:not(:last-child) {
    margin-right: 10px;
}

.team-social-icon-footer {

    fill: #ffffff;

}

.social-link-footer:hover,
.social-link-footer:focus {

    background-color: var(--main-accent-color);
}


/* FOOTER SUBSCRIBE */
.form-subscribe {

    margin-left: 93px;
}

.email-input {
    display: flex;

}

.subscribe-head {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

}

.subscribe-email-input {

    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff;
}



.subscribe-button {
    display: flex;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding-left: 30px;
    cursor: pointer;
    margin-left: 12px;
}

.icon-send {
    margin-left: 10px;
}


/* /FOOTER  */




/* ============== Portfolio ============== */
.portfolio-head {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style: none;

}

.filter-item-btn {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-bg-color);

}

.filter-item:not(:last-child) {
    margin-right: 8px;
}


.filter-item-btn:hover,
.filter-item-btn:focus {

    color: var(--hero-txt-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ============== /Portfolio ============== */

/* ============== Cards ============== */
.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;

}

.card-list-item {


    margin-left: 30px;
    margin-top: 30px;

    flex-basis: calc((100%-270)/9);

}






.card-list-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;



    color: var(--main-txt-color);
}




.card-list-desc {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;

    color: var(--sec-accent-color);
}

.card-list-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-link:hover,
.card-list-link:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}




.card-description {

    padding: 20px 24px;

    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}





.card-desc-hover {
    display: flex;
    position: absolute;
    top: 0;

    width: 370px;
    height: 294px;
    overflow: hidden;
}

.card-hovered-desc {

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    align-items: center;

    width: 322px;
    height: 168px;
    color: var(--footer-txt-color);
}

.card-hovered {
    position: absolute;
    bottom: -294px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);



    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-link:hover .card-hovered,
.card-list-link:focus .card-hovered {

    transform: translate(0px, -294px) rotate(0deg);


}

/* ============== /Cards ============== */


/* ============== Modal ============== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 580px;
    background-color: rgb(255, 255, 255);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}



.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn-icon {

    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon {
    fill: var(--main-accent-color);
}

.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--main-accent-color);
}

/* Modal input form */

.modal-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 2px;
    margin-bottom: 12px;
}




.modal-input {
    position: relative;
    display: flex;
    flex-direction: column;


    width: 448px;

    margin-bottom: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--sec-accent-color);

}

.input-your-data {
    

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 138px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--sec-accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.txt-comment {
    width: 448px;
    height: 100%;
    padding-top: 12px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

}

.modal-your-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    fill: var(--main-txt-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox {

    display: flex;
    justify-content: center;
    align-items: center;


    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--sec-accent-color);
    cursor: pointer;

}

.modal-icon-check {
    position: relative;
    margin-right: 9px;
    border: 2px solid var(--main-txt-color);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.checkbox:checked+.modal-icon-check {
    background-color: var(--main-accent-color);
    border-color: transparent;
    outline: none;
}

.checkbox:focus+.modal-icon-check {
    outline: 2px solid var(--main-txt-color);
}

.policy-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-accent-color);


    text-decoration-line: underline;
}


.send-button {
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-color: transparent;
    background-color: var(--main-accent-color);
    color: #ffffff;
    border-radius: 4px;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: var(--button-hover-color);
}

.txt-comment:focus {
    border-color: #2196F3;
    outline: none;
}

.input-your-data:focus {
    border: 1px solid var(--main-accent-color);
    outline: none;
}

.input-your-data:focus+.modal-your-icon {
    fill: var(--button-hover-color);
}


/* /Modal input form */



/* ============== /Modal ============== */