.clients-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-left: -30px;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.clients-head {
  text-align: center;
  @include font(28px, 700, 33px);
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients-link {
  @extend %flex-center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--main-accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients-item {
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--main-accent-color);
  }
}

// .clients-list {
//   display: flex;
//   list-style: none;
//   justify-content: center;
// }

// .clients-head {
//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;

//   margin-bottom: 50px;
//   color: var(--main-txt-color);
// }

// .clients-item:not(:last-child) {
//   margin-right: 30px;
// }

// .clients-link {
//   @extend %flex-center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: 1px solid var(--main-accent-color);
//   }
// }

// .clients-logo {
//   fill: #afb1b8;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .clients-link:hover &,
//   .clients-link:focus & {
//     fill: var(--main-accent-color);
//   }
// }
