.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer-link {
  display: flex;
  font-style: normal;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--footer-txt-color);
}

.addres {
  margin-top: 20px;
}

.footer-address-list {
  list-style: none;
}

.footer-addres {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-txt-color);
}

.footer-item-list {
  margin-bottom: 9px;
}

.footer-contact-decor {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: var(--footer-accent-color);
}

/* footer social links */

.follow {
  display: inline-block;
  align-items: baseline;
  margin-left: 72px;
}

.footer-social-links-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link-list-footer {
  display: inline-flex;
  margin-top: 20px;
  list-style: none;
}

.social-link-item-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.social-link-footer {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item-footer:not(:last-child) {
  margin-right: 10px;
}

.team-social-icon-footer {
  fill: #ffffff;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--main-accent-color);
}
