.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--main-txt-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-decor {
  color: var(--main-accent-color);
}
