.our-team {
  display: block;
  background-color: var(--accent-bg-color);
}
.our-team-head {
  @include font(28px, 700, 33px);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.our-team-list {
  list-style: none;
  text-align: center;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    padding-bottom: 0;
  }
}

.our-team-item {
  background-color: var(--hero-txt-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
  }
}
.our-team-name {
  @include font(16px, 500, 19px);
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-team-desc {
  @include font(16px, 400, 19px);
  margin-bottom: 16px;
  text-align: center;
  color: var(--sec-accent-color);
}
.team-description {
  // padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.social-link-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-link:hover &,
  .social-link:focus & {
    fill: #ffffff;
  }
}
.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.team-description {
  margin-bottom: 16px;
}

.social-link {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--main-accent-color);
  }
}
// desctop
// .our-team {
//   background-color: var(--accent-bg-color);
// }

// .our-team-head {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   margin-bottom: 50px;
// }

// .our-team-list {
//   display: flex;
//   list-style: none;
//   margin-left: -30px;
// }

// .our-team-item {
//   flex-basis: calc((100% - 120%) / 4);
//   margin-left: 30px;
//   background-color: var(--hero-txt-color);
// }

// .our-team-name {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   margin-bottom: 10px;

//   color: var(--main-txt-color);
// }

// .our-team-desc {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;

//   color: var(--sec-accent-color);
// }

// .team-description {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   background-color: var(--hero-txt-color);

//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .social-link-list {
//   display: flex;
//   justify-content: center;
//   margin-top: 16px;
//   list-style: none;
// }

// .social-link {
//   @extend %flex-center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: var(--main-accent-color);
//   }
// }

// .social-link-item:not(:last-child) {
//   margin-right: 10px;
// }

// .team-social-icon {
//   fill: #afb1b8;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .social-link:hover &,
//   .social-link:focus & {
//     fill: #ffffff;
//   }
// }
