.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;

  width: 40px;
  height: 40px;
  padding: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    fill: var(--main-accent-color);
  }
  &:focus {
    fill: var(--main-accent-color);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  height: 100%;
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: auto;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
}
.menu-close-btn-icon {
  fill: var(--main-txt-color);
  &:hover {
    fill: var(--main-accent-color);
    &:focus {
      fill: var(--main-accent-color);
    }
  }
}

.mobile-menu-link {
  list-style: none;
  padding-left: 40px;

  padding-top: 48px;
  @media screen and (max-width: 479px) {
    padding-left: 0;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 320px;
  }
}
.mobile-menu-decor {
  display: inline-block;
  padding-bottom: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--main-txt-color);
  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
  @media screen and (max-width: 479px) {
    font-size: 30px;
  }
}

.mobile-menu-contacts {
  list-style: none;
  padding-left: 40px;
  @media screen and (max-width: 479px) {
    padding-left: 0;
  }
}
.mobile-menu-tel {
  display: block;
  padding-bottom: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-accent-color);
  @media screen and (max-width: 479px) {
    font-size: 28px;
  }
}
.mobile-menu-mail {
  display: block;
  padding-bottom: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--sec-accent-color);
}
.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 40px;
  padding-bottom: 48px;
  list-style: none;
  color: var(--main-accent-color);
  @media screen and (max-width: 479px) {
    padding-left: 0;
  }
}
.mobile-menu-social-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-accent-color);
}
.social-link-decor {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-current {
  color: var(--main-accent-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .burger-btn {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .burger-btn {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
