.modal-input {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 448px;

  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sec-accent-color);
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.input-your-data {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--main-accent-color);
    outline: none;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 370px;
  }
}

.input-comment {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 138px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sec-accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.txt-comment {
  width: 448px;
  height: 100%;
  padding-top: 12px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 370px;
  }
}

.modal-your-icon {
  position: absolute;
  top: 55%;
  left: 12px;

  fill: var(--main-txt-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-your-data:focus + & {
    fill: var(--button-hover-color);
  }
}

.policy-checkbox {
  @extend %flex-center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--sec-accent-color);
  cursor: pointer;
}

.modal-icon-check {
  position: relative;
  margin-right: 9px;
  border: 2px solid var(--main-txt-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    background-color: var(--main-accent-color);
    border-color: transparent;
    outline: none;
  }

  .checkbox:focus + & {
    outline: 2px solid var(--main-txt-color);
  }
}

.policy-link {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-accent-color);

  text-decoration-line: underline;
}

.send-button {
  @extend %flex-center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  background-color: var(--main-accent-color);
  color: #ffffff;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}

.txt-comment:focus {
  border-color: #2196f3;
  outline: none;
}
