.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}

.card-list-item {
  margin-left: 30px;
  margin-top: 30px;

  flex-basis: calc((100% - 270%) / 9);
}

.card-list-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-txt-color);
}

.card-list-desc {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;

  color: var(--sec-accent-color);
}

.card-list-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-description {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-desc-hover {
  display: flex;
  position: absolute;
  top: 0;

  width: 370px;
  height: 294px;
  overflow: hidden;
}

.card-hovered-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  align-items: center;

  width: 322px;
  height: 168px;
  color: var(--footer-txt-color);
}

.card-hovered {
  @extend %flex-center;
  position: absolute;
  bottom: -294px;

  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card-list-link:hover &,
  .card-list-link:focus & {
    transform: translate(0px, -294px) rotate(0deg);
  }
}
