:root {
  --accent-bg-color: #f5f4fa;
  --nav-bg-color: #ffffff;
  --main-txt-color: #212121;
  --main-accent-color: #2196f3;
  --hero-txt-color: #ffffff;
  --hero-bg-color: #2f303a;
  --sec-accent-color: #757575;
  --button-hover-color: #188ce8;
  /* Footer colors */
  --footer-bg-color: #2f303a;
  --footer-txt-color: #ffffff;
  --footer-accent-color: rgba(255, 255, 255, 0.6);
}
